<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="navbar.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
        <script type="text/javascript" src="navbar.js"></script>
        <link rel="stylesheet" href="signup.css">
        <link rel="stylesheet" href="aboutus.css">
        <title>
            Eco Change
        </title>
        <link rel="icon" href="planet_earth.png" type="image/icon type">
    </head>
    <body onload='load()'>


        <!-- Navigation bar-->
        <div id="divnav1">
        </div>

        

        <div class="container" id="mainbody">
            <div class="row">
              <div class="col-lg-10 col-xl-9 mx-auto">
                <div class="card card-signin flex-row my-5">
                  <div class="card-img-left d-none d-md-flex">
                     <!-- Background image for card set in CSS! -->
                  </div>
                  <div class="card-body">
                    <h5 class="card-title text-center">About Us</h5>
                     Eco Change was designed and implemented in 2020. The main objective of this website is to spread awareness related to climate change and eco friendly techniques.
                     <br>
                     For more information email us at: <br>
                     <h5 id="emailadd">ecochangepak@gmail.com</h5>
                     <hr class="my-4">
                     <a class="navbar-brand" href="/home"><img id="mainlogo" src="return.png"/>EcoChange <img id='mainlogo' src='planet_earth.png'></img></a>
                    </div>
                </div>
              </div>
            </div>
          </div>


    </body>

</html>