.card-signin .card-img-left {
    width: 45%;
    /* Link to your background image using in the property below! */
    background: scroll center url("aboutusimage.png");
    background-size: cover;
  }

  #emailadd{
      color:rgb(8, 104, 8);
  }

  #mainbody{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }